* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

.mdc-form-field {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.mdc-form-field label {
  /* цвет текста лейбла в радио и чекбоксе */
  color: #aaaaaa;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer;
}

.mat-mdc-radio-checked label,
.mat-mdc-checkbox-checked label {
  /* цвет текста активного радио и чекбокса */
  color: #333333;
}

.mdc-form-field:hover label {
  /* цвет текста радио и чекбокса при наведении */
  color: #333333;
}

.mat-mdc-radio-button {
  width: 100% !important;
  /* цвет фигуры */
  --mdc-radio-unselected-icon-color: #c262d3; /* изначальный */
  --mdc-radio-unselected-pressed-icon-color: #8f04a8; /* удержание */
  --mdc-radio-unselected-focus-icon-color: #bc38d3; /* нажатие и отведение */
  --mdc-radio-unselected-hover-icon-color: #bc38d3; /* наведение */
  --mat-mdc-radio-ripple-color: #c262d3; /* фон предвыбора */
  --mdc-theme-text-primary-on-background: #333333;
  --mdc-radio-disabled-selected-icon-color: #333333;
  --mdc-radio-disabled-unselected-icon-color: #333333;
}

.mat-accent {
  /* цвет выбора */
  --mdc-radio-selected-focus-icon-color: #333333 !important;
  --mdc-radio-selected-hover-icon-color: #c26bd1 !important; /* наведение */
  --mdc-radio-selected-icon-color: #bc38d3 !important; /* выбранный */
  --mdc-radio-selected-pressed-icon-color: #8f04a8 !important; /* удержание */
  --mat-mdc-radio-checked-ripple-color: #c26bd1 !important; /* фон */
}

.mat-mdc-checkbox.mat-accent {
  /* цвет фигуры */
  --mdc-checkbox-unselected-icon-color: #c262d3; /* изначальный */
  --mdc-checkbox-unselected-pressed-icon-color: #8f04a8; /* удержание */
  --mdc-checkbox-unselected-focus-icon-color: #bc38d3; /* нажатие и отведение */
  --mdc-checkbox-unselected-hover-icon-color: #bc38d3; /* наведение */
  --mdc-checkbox-disabled-selected-icon-color: #333333;
  --mdc-checkbox-disabled-unselected-icon-color: #333333;

  /* цвет выбора */
  --mdc-checkbox-selected-checkmark-color: #ffffff; /* цвет выбора */
  --mdc-checkbox-selected-focus-icon-color: #8f04a8;
  --mdc-checkbox-selected-hover-icon-color: #c26bd1; /* наведение */
  --mdc-checkbox-selected-icon-color: #bc38d3; /* выбранный */
  --mdc-checkbox-selected-pressed-icon-color: #8f04a8; /* удержание */
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #ffffff;
  height: 35px;
  width: 250px;
  font-size: 15px;
  border-style: none;
  text-decoration: none;
  border-radius: 2vh;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
