<div class="header">
  <div class="menu-button">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
      class="menu-icon"
    >
      <img class="menu-icon-img" src="../../assets/menu.svg" alt="menu" />
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let link of links">
        <a [routerLink]="link.url" routerLinkActive="active" class="nav-link">
          {{ link.name | uppercase }}
        </a>
      </button>
    </mat-menu>
  </div>

  <a routerLink="" class="logo">TimeCraft</a>

  <app-search></app-search>

  <div class="links">
    <div class="link" *ngFor="let link of links">
      <a [routerLink]="link.url" routerLinkActive="active" class="nav-link">
        {{ link.name | uppercase }}
      </a>
    </div>
  </div>

  <div class="cart">
    <a class="cart-icon" routerLink="/cart" routerLinkActive="active">
      <img
        class="cart-icon-img"
        src="../../assets/shopping_cart.svg"
        alt="cart"
      />
    </a>
    <!-- <a class="cart-text" routerLink="/cart" routerLinkActive="active">
      {{ "корзина (" + total + "₽)" | uppercase }}
    </a> -->
  </div>
</div>
