@import "../../../assets/design/palette.scss";
@import "../../../assets/design/fonts/fonts.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  width: 100%;
  padding: 1em 2em;

  box-sizing: border-box;
  background-color: $color-header;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 10%;
  font-size: 24px;
  font-weight: 800;
  font-family: $header-font !important;
}

.logo img {
  height: 50%;
  width: 50%;
}

.logo:hover img {
  height: 75%;
  width: 75%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $header-font !important;
}

.nav-link {
  color: $color-primary;
  font-family: $header-font !important;
}

.nav-link:hover {
  color: $color-accent;
  text-decoration: none;
  /*text-shadow: $color-accent 0 0 1px; /* толщина тени */
}

.nav-link:not(:hover) {
  text-decoration: none;
}

.nav-link.active {
  text-decoration: underline;
}

.nav-link.active:not(:hover) {
  color: $color-text;
}

.cart {
  display: flex;
  align-items: center;
  margin: 0;
}

.cart-text {
  color: $color-primary;
}

.cart-text:not(:hover) {
  text-decoration: none;
}

.cart-text.active {
  text-decoration: underline;
  color: $color-text;
}

.cart-text:hover {
  color: $color-accent;
}

.cart-icon {
  text-decoration: none;
}

.cart-icon-img,
.menu-icon-img {
  height: 2rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  padding-right: 5px;
}

@media screen and (max-width: 767px) {
  .logo img {
    height: 100%;
    width: 100%;
  }

  .logo:hover img {
    height: 125%;
    width: 125%;
  }

  .links {
    display: none;
  }

  .cart-text {
    display: none;
  }

  .icon {
    font-size: 20px;
    align-items: flex-end;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .links {
    width: 35%;
  }

  .icon {
    font-size: 16px;
  }
}
