div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  color: #333;
}

p {
  color: #666;
}


.item-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.item-block {
  height: fit-content;
  width: 15%;
  margin-right: 2em;
  margin-bottom: 2em;
}

.item-link {
  text-decoration: none;
  color: #000;
}

.item-img {
  height: 100%;
  width: 100%;
  border-radius: 3vh;
}

.item-text {
  margin: 0;
  font-size: 18px;
}

.item-price {
  width: 100%;
  margin: 0;
  font-size: 18px;
  text-align: right;
}
