<div class="cart">
  <h3 class="title">{{ "корзина" | uppercase }}</h3>

  <div *ngIf="cartItems?.length; else empty">
    <div class="products">
      <ul class="cart-list">
        <li class="cart-item" *ngFor="let item of cartItems">
          <div class="product">
            <div class="column product-column">
              <!-- <img class="product-photo" [src]="item.previewUrl" alt="photo" /> -->
              <div>
                <p>{{ item.model }}</p>
              </div>
            </div>
            <div class="column count-column">
              <button (click)="removeFromCart(item)" mat-icon-button>-</button>
              Количество: {{ item.quantity }}
              <button (click)="addToCart(item)" mat-icon-button>+</button>
            </div>
            <div class="column price-column">
              Итого: {{ item.totalAmount }} ₽
            </div>
          </div>
          <div class="delete-icon">
            <img
              src="../../assets/cross.svg"
              alt="delete item"
              class="delete-btn"
              (click)="delete(item)"
            />
          </div>
        </li>
      </ul>
    </div>

    <div class="btn-text">
      <p class="text">Товаров на сумму: {{ this.totalAmount }} ₽</p>
    </div>

    <app-order
      [cart]="cartItems"
      [totalAmount]="totalAmount"
      (onOrderReady)="onOrderReady()"
    ></app-order>
  </div>
</div>

<div *ngIf="showTooltip" class="tooltip">
  {{ "Заказ оформлен" | uppercase }}
</div>

<ng-template #empty>
  <div class="empty">{{ "ваша корзина пуста" | uppercase }}</div>
</ng-template>
